@import 'tachyons-sass/tachyons.scss';
@import './tachyons-extend.scss';
@import './theme.scss';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  font-family: Taipei Sans, huninn, Roboto, -apple-system, Segoe UI, Ubuntu,
    Fira Sans, Helvetica Neue, sans-serif;
  border: 2px solid rgb(25, 169, 116);
}

button:hover {
  background-color: rgb(25, 169, 116);
}
